body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 5px black solid;
    width: 300px;
    min-height: 100px;
    height: 250px;
    
}
#inputBox {
    
}